.button-bottom img {
    min-width: 16px;
    min-height: 16px;
    max-width: 65%;
    max-height: 65%;
    padding-right: 2px;
}

likes-count-show, comments-count, repost-count {
    margin-left: 7px;
}
