html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.user-icon {
    width: 50px;
    height: 50px;
}

.dropdown-button:hover {
    background-color: rgba(0, 0, 0, 0.05);
    transition: background-color ease-in-out 0.1s;
}
a.nickname {
    text-decoration: none;
}

a.nickname:hover {
    text-decoration: underline;
    transition: ease-in-out 0.2s;
}
footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
}