@model UserProfileAndPostsModel
@{
	ViewData["Title"] = "Профиль";
}
<link href="~/css/post.css" rel="stylesheet" />
<div class="container mt-5">
	<div class="row">
		<div class="col-lg-4">
			@await Html.PartialAsync("UserCard", Model.User)
		</div>
		<div class="col-lg-8">
			@if (User.Identity.IsAuthenticated && Model.User.CpcmUserId.ToString() == User.FindAll(x => x.Type == "CpcmUserId").FirstOrDefault().Value)
			{
				<a asp-area="" asp-controller="User" asp-action="CreatePost" asp-route-postId="" class="btn btn-outline-primary col-12 mb-1">Добавить пост</a>
			}
			@if (Model.Posts != null)
			{
				@foreach (var item in Model.Posts)
				{
					@await Html.PartialAsync("Post", item)
				}
			}
		</div>
	</div>
</div>
@await Html.PartialAsync("RepostModal")
<script type="text/javascript" charset="utf-8" src="~/js/post.js"></script>
<!-- Модальное окно на подтверждение удаление поста -->
<div class="modal fade" id="confirmDeleteModal" tabindex="-1" aria-labelledby="confirmDeleteModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="confirmDeleteModalLabel">Подтверждение удаления</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				Вы уверены, что хотите удалить данный пост?
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
				<button type="button" class="btn btn-danger" data-bs-dismiss="modal" onclick="deletePost()">Удалить</button>
			</div>
		</div>
	</div>
</div>