@model Capycom.Models.UserLogInModel
@{
	ViewData["Title"] = "Вход";
}
<div class="container">
	<h1 class="text-center mt-5">@ViewData["Title"]</h1>
	<form class="col-md-6 mx-auto" asp-action="LogIn">
		@Html.AntiForgeryToken()
		<div asp-validation-summary="ModelOnly" class="text-danger"></div>
		<label for="login" class="form-label" asp-for="CpcmUserEmail">Логин (почта или телефон)</label>
		<div class="input-group">
			<input type="text" class="form-control" id="login" required asp-for="CpcmUserEmail">
		</div>
		<span asp-validation-for="CpcmUserEmail" class="text-danger d-block"></span>
		<div class="mb-3">
			<label for="password" class="form-label" asp-for="CpcmUserPwd">Пароль</label>
			<input type="password" class="form-control" id="password" required asp-for="CpcmUserPwd">
		</div>
		<span asp-validation-for="CpcmUserPwd" class="text-danger"></span>
		<button type="submit" class="btn btn-primary">Войти</button>
	</form>
</div>