@model Capycom.Models.UserLogInModel
@{
	ViewData["Title"] = "Вход";
}
<div class="container">
	<h1 class="text-center mt-5">@ViewData["Title"]</h1>
	<form class="col-md-6 mx-auto" asp-action="Index">
		@Html.AntiForgeryToken()
		<div asp-validation-summary="ModelOnly" class="text-danger"></div>
		<label for="login" class="form-label" asp-for="CpcmUserEmail">Email</label>
		<div class="input-group">
			<input type="text" class="form-control" id="login" required asp-for="CpcmUserEmail">
			<div>
				<span asp-validation-for="CpcmUserEmail" class="text-danger d-block" onchange="showImg()"></span>
			</div>
		</div>
		<div class="mb-3">
			<label for="password" class="form-label" asp-for="CpcmUserPwd">Пароль</label>
			<input type="password" class="form-control" id="password" required asp-for="CpcmUserPwd">
			<div>
				<span asp-validation-for="CpcmUserPwd" class="text-danger"></span>
				<span class="text-danger">@ViewData["Message"]</span>
			</div>
		</div>
		<button type="submit" class="col-md-12 btn btn-primary container-fluid">Войти</button>
	</form>
	<div class="col-md-6 mx-auto mt-2">
		<a class="col-md-12 btn btn-secondary container-fluid" asp-area="" asp-controller="UserSignUp" asp-action="Create">Зарегистрироваться</a>
	</div>
	@if (!ViewData.ModelState.IsValid || ViewData["Message"] != null)
	{
		<div class="col-md-6 mx-auto mt-4" id="cantLogIn">
			<img class="col-md-12 rounded img-fluid" src="~/images/sad.png" />
		</div>
	}
</div>