@model Capycom.CpcmUser

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>CpcmUser</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CpcmUserId" class="control-label"></label>
                <input asp-for="CpcmUserId" class="form-control" />
                <span asp-validation-for="CpcmUserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CpcmUserEmail" class="control-label"></label>
                <input asp-for="CpcmUserEmail" class="form-control" />
                <span asp-validation-for="CpcmUserEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CpcmUserTelNum" class="control-label"></label>
                <input asp-for="CpcmUserTelNum" class="form-control" />
                <span asp-validation-for="CpcmUserTelNum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CpcmUserPwdHash" class="control-label"></label>
                <input asp-for="CpcmUserPwdHash" class="form-control" />
                <span asp-validation-for="CpcmUserPwdHash" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CpcmUserSalt" class="control-label"></label>
                <input asp-for="CpcmUserSalt" class="form-control" />
                <span asp-validation-for="CpcmUserSalt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CpcmUserAbout" class="control-label"></label>
                <input asp-for="CpcmUserAbout" class="form-control" />
                <span asp-validation-for="CpcmUserAbout" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CpcmUserCity" class="control-label"></label>
                <select asp-for="CpcmUserCity" class ="form-control" asp-items="ViewBag.CpcmUserCity"></select>
            </div>
            <div class="form-group">
                <label asp-for="CpcmUserSite" class="control-label"></label>
                <input asp-for="CpcmUserSite" class="form-control" />
                <span asp-validation-for="CpcmUserSite" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CpcmUserBooks" class="control-label"></label>
                <input asp-for="CpcmUserBooks" class="form-control" />
                <span asp-validation-for="CpcmUserBooks" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CpcmUserFilms" class="control-label"></label>
                <input asp-for="CpcmUserFilms" class="form-control" />
                <span asp-validation-for="CpcmUserFilms" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CpcmUserMusics" class="control-label"></label>
                <input asp-for="CpcmUserMusics" class="form-control" />
                <span asp-validation-for="CpcmUserMusics" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CpcmUserSchool" class="control-label"></label>
                <select asp-for="CpcmUserSchool" class ="form-control" asp-items="ViewBag.CpcmUserSchool"></select>
            </div>
            <div class="form-group">
                <label asp-for="CpcmUserUniversity" class="control-label"></label>
                <select asp-for="CpcmUserUniversity" class ="form-control" asp-items="ViewBag.CpcmUserUniversity"></select>
            </div>
            <div class="form-group">
                <label asp-for="CpcmUserImagePath" class="control-label"></label>
                <input asp-for="CpcmUserImagePath" class="form-control" />
                <span asp-validation-for="CpcmUserImagePath" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CpcmUserCoverPath" class="control-label"></label>
                <input asp-for="CpcmUserCoverPath" class="form-control" />
                <span asp-validation-for="CpcmUserCoverPath" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CpcmUserNickName" class="control-label"></label>
                <input asp-for="CpcmUserNickName" class="form-control" />
                <span asp-validation-for="CpcmUserNickName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CpcmUserFirstName" class="control-label"></label>
                <input asp-for="CpcmUserFirstName" class="form-control" />
                <span asp-validation-for="CpcmUserFirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CpcmUserSecondName" class="control-label"></label>
                <input asp-for="CpcmUserSecondName" class="form-control" />
                <span asp-validation-for="CpcmUserSecondName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CpcmUserAdditionalName" class="control-label"></label>
                <input asp-for="CpcmUserAdditionalName" class="form-control" />
                <span asp-validation-for="CpcmUserAdditionalName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CpcmUserRole" class="control-label"></label>
                <select asp-for="CpcmUserRole" class ="form-control" asp-items="ViewBag.CpcmUserRole"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
