@model Capycom.Models.UserSignUpModel
@{
	ViewData["Title"] = "Регистрация";
}
<div class="container">
	<h1 class="text-center mt-5">@ViewData["Title"]</h1>
	<form class="col-md-6 mx-auto" asp-action="Create" enctype="multipart/form-data">
		@Html.AntiForgeryToken()
		<div asp-validation-summary="ModelOnly" class="text-danger"></div>
		<div class="row mb-3">
			<div class="col">
				<label asp-for="CpcmUserFirstName" class="form-label">Имя</label>
				<input type="text" class="form-control" id="firstName" required asp-for="CpcmUserFirstName">
			</div>
			<div class="col">
				<label asp-for="CpcmUserSecondName" class="form-label">Фамилия</label>
				<input type="text" class="form-control" id="lastName" required asp-for="CpcmUserSecondName">
			</div>
			<div class="col">
				<label asp-for="CpcmUserAdditionalName" class="form-label">Отчество</label>
				<input type="text" class="form-control" id="middleName" asp-for="CpcmUserAdditionalName">
			</div>
			<span asp-validation-for="CpcmUserFirstName" class="text-danger"></span>
			<span asp-validation-for="CpcmUserSecondName" class="text-danger"></span>
			<span asp-validation-for="CpcmUserAdditionalName" class="text-danger"></span>
		</div>
		<label asp-for="CpcmUserNickName" class="form-label">Псевдоним</label>
		<div class="input-group">
			<span class="input-group-text" id="inputGroupPrepend">@@</span>
			<input asp-for="CpcmUserNickName" type="text" class="form-control" id="validationCustomUsername" aria-describedby="inputGroupPrepend" required>
		</div>
		<span asp-validation-for="CpcmUserNickName" class="text-danger"></span>
		<div class="mb-3">
			<label asp-for="CpcmUserEmail" class="form-label">Электронная почта</label>
			<input asp-for="CpcmUserEmail" type="email" class="form-control" id="email" required>
		</div>
		<span asp-validation-for="CpcmUserEmail" class="text-danger"></span>
		<div class="mb-3">
			<label asp-for="CpcmUserTelNum" class="form-label">Номер телефона</label>
			<input asp-for="CpcmUserTelNum" type="tel" class="form-control" id="phone" title="Номер телефона должен содержать только цифры и специальные символы" required>
		</div>
		<span asp-validation-for="CpcmUserTelNum" class="text-danger"></span>
		@*     <div class="mb-3">
		<label for="dob" class="form-label">Дата рождения</label>
		<input type="date" class="form-control" id="dob" required>
		</div> *@
		<div class="mb-3">
			<label asp-for="CpcmUserPwd" class="form-label">Пароль</label>
			<input asp-for="CpcmUserPwd" type="password" class="form-control" id="password" required>
		</div>
		<span asp-validation-for="CpcmUserPwd" class="text-danger"></span>
		<div class="mb-3">
			<label asp-for="CpcmUserPwdConfirm" class="form-label">Подтвердите пароль</label>
			<input asp-for="CpcmUserPwdConfirm" type="password" class="form-control" id="confirmPassword" required>
		</div>
		<span asp-validation-for="CpcmUserPwdConfirm" class="text-danger"></span>
		<h4 class="mb-2">Дополнительные сведения</h4>
		<div class="mb-3">
			<label asp-for="CpcmUserImage" class="form-label">Иконка профиля</label>
			<input asp-for="CpcmUserImage" class="form-control" type="file" id="formFile">
		</div>
		<span asp-validation-for="CpcmUserImage" class="text-danger"></span>
		<div class="col mb-3">
			<label for="userAbout" class="form-label">О себе</label>
			<textarea type="text" class="form-control" id="userAbout" rows="3"></textarea>
		</div>
		<div class="mb-3">
			<label asp-for="CpcmUserCity" class="form-label">Город</label>
			<select asp-for="CpcmUserCity" asp-items="ViewBag.CpcmUserCity" class="form-select" id="city" data-live-search="true">
				<option value="" selected disabled>Выберите город...</option>
				<option value="">Вfdsfdsfds.</option>
			</select>
		</div>
		<div class="mb-3">
			<label asp-for="CpcmUserUniversity" class="form-label">Университет</label>
			<select asp-for="CpcmUserUniversity" asp-items="ViewBag.CpcmUserUniversity" class="form-select" id="university">
				<option value="" selected disabled>Выберите университет...</option>
			</select>
		</div>
		<div class="mb-3">
			<label asp-for="CpcmUserSchool" class="form-label">Школа</label>
			<select data-live-search="true" asp-for="CpcmUserSchool" asp-items="ViewBag.CpcmUserSchool" class="selectpicker" id="school">
				<option value="" selected disabled>Выберите школу...</option>
				<option value="">test1...</option>
				<option value="">test2...</option>
			</select>
		</div>
		<div class="col mb-3">
			<label asp-for="CpcmUserSite" class="form-label">Сайт</label>
			<input asp-for="CpcmUserSite" type="text" class="form-control" id="site">
		</div>
		<span asp-validation-for="CpcmUserSite" class="text-danger"></span>
		<div class="col mb-3">
			<label asp-for="CpcmUserBooks" class="form-label">Книги</label>
			<input asp-for="CpcmUserBooks" type="text" class="form-control" id="books">
		</div>
		<span asp-validation-for="CpcmUserBooks" class="text-danger"></span>
		<div class="col mb-3">
			<label asp-for="CpcmUserFilms" class="form-label">Фильмы</label>
			<input asp-for="CpcmUserFilms" type="text" class="form-control" id="films">
		</div>
		<span asp-validation-for="CpcmUserFilms" class="text-danger"></span>
		<div class="col mb-3">
			<label asp-for="CpcmUserMusics" class="form-label">Музыка</label>
			<input asp-for="CpcmUserMusics" type="text" class="form-control" id="music">
		</div>
		<span asp-validation-for="CpcmUserMusics" class="text-danger"></span>
		<button type="submit" class="btn btn-primary" value="Create">Зарегистрироваться</button>
	</form>
</div>

<div>
	<a asp-action="Index" class="btn btn-light">Back to List</a>
</div>
<script>
	$(document).ready(function () {
		$('#addButton').click(function () {
			// Открываем модальное окно
			$('#addCityModal').show();
		});

		$('#submitCity').click(function () {
			var newCity = $('#newCity').val();

			$.ajax({
				url: '/User/AddCity',
				type: 'POST',
				data: { city: newCity },
				success: function (response) {
					if (response.statusCode == 200) {
						// Добавляем новый город в выпадающий список
						$('#mySelect').append(new Option(newCity, newCity));
						$('#mySelect').selectpicker('refresh');

						// Закрываем модальное окно
						$('#addCityModal').hide();
					} else {
						// Обрабатываем ошибку
						alert('Не удалось добавить город');
					}
				}
			});
		});
	});
</script>
@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}
