@model Capycom.CpcmGroupRole

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>CpcmGroupRole</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CpcmRoleId" class="control-label"></label>
                <input asp-for="CpcmRoleId" class="form-control" />
                <span asp-validation-for="CpcmRoleId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CpcmRoleName" class="control-label"></label>
                <input asp-for="CpcmRoleName" class="form-control" />
                <span asp-validation-for="CpcmRoleName" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="CpcmCanEditGroup" /> @Html.DisplayNameFor(model => model.CpcmCanEditGroup)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="CpcmCanMakePost" /> @Html.DisplayNameFor(model => model.CpcmCanMakePost)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="CpcmCanDelPost" /> @Html.DisplayNameFor(model => model.CpcmCanDelPost)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="CpcmCanEditPost" /> @Html.DisplayNameFor(model => model.CpcmCanEditPost)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

