@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Каприветствуем вас!</h1>
    <p>Лучшая в мире КапиСеть к вашим услугам. Здесь вы найдёте самый лучший материал во всех вселенной, по мнению наших капибар.</a>.</p>
</div>
