@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Каприветствуем вас!</h1>
    <p>Лучшая в мире КапиСеть к вашим услугам. Здесь вы найдёте самый лучший материал во всех вселенной, по мнению наших капибар.</p>
    <p class="text-muted">Это учебный проект. Все совпадения с реальными объектами являются случайностью. Мы не несём никакой ответственность за всё, что происходит на данном ресурсе.</p>
    <p class="text-muted">Всем добра и позитива.</p>
</div>
