@{
	ViewData["Title"] = "Профиль";
}

<div class="container mt-5">
	<div class="row">
		@await Html.PartialAsync("UserCard")
		<div class="col-md-8">
			@await Html.PartialAsync("Post")
			@await Html.PartialAsync("Post")
		</div>
	</div>
</div>
<script src="~/js/post.js"></script>