@{
    ViewData["Title"] = "Профиль";
}
<div class="container">
    <div class="col mb-1">
        <div class="row">
            <figure class="figure">
            <img width=256 height=256 src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d9/Чёрный_супрематический_квадрат._1915._ГТГ.png/350px-Чёрный_супрематический_квадрат._1915._ГТГ.png" class="figure-img img-fluid rounded" alt="Иконка пользователя">
            </figure>
            <div class="text-center"></div>
                <span >Nickname</span>
            </div>
        </div>
    </div>
    <div class="col-8 text-center">
        test
    </div>
</div>