<style>
	.profile-block {
		background-color: #f7f7f7;
	}
</style>
<div class="col-md-3">
	<div class="row">
		<div class="pt-2 pb-2 profile-block card mb-2">
			<div class="text-center">
				<img width=256 height=256 src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d9/Чёрный_супрематический_квадрат._1915._ГТГ.png/350px-Чёрный_супрематический_квадрат._1915._ГТГ.png" class="figure-img img-fluid rounded" alt="Иконка пользователя">
				<h4>Nickname</h4>
			</div>
			<div class="mt-1">
				<ul class="list-group list-group-flush">
					<li class="list-group-item profile-block">Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum quos quibusdam fugit harum repellendus ducimus vero quidem soluta aut optio?</li>
					<li class="list-group-item profile-block">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat, debitis!</li>
					<li class="list-group-item profile-block">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Incidunt blanditiis recusandae explicabo ipsam temporibus aliquid.</li>
					<li class="list-group-item profile-block">Сайт: <a href="#">www.siteeeeeeeeeeeeeeeeeeeee.com</a></li>
				</ul>
				<hr>
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit et, consequuntur possimus maxime atque expedita laborum quibusdam magnam nostrum est, voluptas officia temporibus quidem quae.</p>
			</div>
		</div>
	</div>
	<button class="btn btn-outline-primary mb-1">
		<span>Добавить в друзья</span>
	</button>
	<button class="btn btn-outline-primary mb-1">
		<span>Подписаться</span>
	</button>
</div>