@model List<PostModel>
@{
	ViewData["Title"] = "Лента";
}
<link href="~/css/post.css" rel="stylesheet" />
@if (User.Identity.IsAuthenticated && User.FindFirst(c => c.Type == "CpcmCanDelUsersPosts").Value == "True")
{
	<link href="~/css/ban.css" rel="stylesheet" />
}
<div class="container mt-5">
	<div class="row">
		<div class="col-lg-8 mx-auto feed">
			@if (User.Identity.IsAuthenticated)
			{
				<a asp-area="" asp-controller="User" asp-action="CreatePost" asp-route-postId="" class="btn btn-outline-primary col-12 mb-1">Добавить пост</a>
			}
			@if (Model != null)
			{
				@foreach (PostModel post in Model)
				{
					if (!(post.UserOwner.CpcmUserBanned && post.UserOwner.CpcmIsDeleted))
					{
						@await Html.PartialAsync("~/Views/User/Post.cshtml", post)
					}
					else if (post.UserOwner.CpcmIsDeleted)
					{
						<div class="card mb-2">
							<div class="card-body">
								<h5 class="text-center">Аккаунт пользователя удалён ;;</h5>
							</div>
						</div>
					}
					else
					{
						<div class="card mb-2">
							<div class="card-body">
								<h5 class="text-center">Пользователь был забанен советом капибар</h5>
							</div>
						</div>
					}
				}
			}
		</div>
		@if (Model.Count >= 10)
		{
			<div class="col-lg-8 mx-auto">
				<button class="btn btn-primary container-fluid" onclick="loadNews(this)">Загрузить ещё</button>
			</div>
		}
	</div>
</div>

@await Html.PartialAsync("~/Views/User/RepostModal.cshtml")
<script type="text/javascript" charset="utf-8" src="~/js/post.js"></script>
<script src="~/js/load-more.js"></script>
@if (User.Identity.IsAuthenticated && User.FindFirst(c => c.Type == "CpcmCanDelUsersPosts").Value == "True")
{
	<script src="~/js/ban.js"></script>
}
<!-- Модальное окно на подтверждение удаление поста -->
<div class="modal fade" id="confirmDeleteModal" tabindex="-1" aria-labelledby="confirmDeleteModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="confirmDeleteModalLabel">Подтверждение удаления</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				Вы уверены, что хотите удалить данный пост?
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
				<button type="button" class="btn btn-danger" data-bs-dismiss="modal" onclick="deletePost()">Удалить</button>
			</div>
		</div>
	</div>
</div>